In [1]:
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble, impute
from sklearn_pandas import DataFrameMapper

In [11]:
data=pd.read_csv('mpg_data_example.csv')

In [12]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [13]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [14]:
mapper = DataFrameMapper([
                        (['cylinders','displacement','weight','acceleration','model year'], preprocessing.StandardScaler()),
                        (['horsepower'],impute.SimpleImputer()),
                        (['origin'], preprocessing.OneHotEncoder())
])

In [15]:
pipeline_obj = pipeline.Pipeline([
    ('mapper',mapper),
    ("model", ensemble.RandomForestRegressor())
])

In [16]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [17]:
X=['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin']
Y=['mpg']

In [18]:
pipeline_obj.fit(data[X],data[Y])

C:\Users\13476\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model year'],
                                            StandardScaler()),
                                           (['horsepower'], SimpleImputer()),
                                           (['origin'], OneHotEncoder())])),
                ('model', RandomForestRegressor())])

In [19]:
pipeline_obj.predict(data[X])

array([17.418, 14.875, 17.17 , 16.341, 16.976, 14.64 , 13.97 , 14.13 ,
       13.45 , 14.795, 14.925, 14.52 , 15.025, 14.621, 23.944, 21.543,
       19.51 , 20.997, 26.93 , 27.045, 24.52 , 24.48 , 24.705, 25.052,
       20.83 , 10.65 , 11.08 , 11.55 ,  9.91 , 26.97 , 26.346, 24.96 ,
       25.46 , 19.374, 16.896, 17.68 , 18.73 , 18.14 , 13.9  , 13.59 ,
       14.035, 14.315, 12.13 , 12.97 , 12.67 , 18.561, 22.12 , 18.76 ,
       18.395, 23.77 , 26.82 , 29.625, 29.1  , 31.48 , 33.49 , 27.575,
       27.1  , 24.526, 25.36 , 23.485, 20.55 , 22.38 , 13.275, 13.605,
       14.53 , 13.985, 16.37 , 11.925, 12.82 , 12.35 , 13.01 , 20.402,
       14.98 , 13.535, 13.545, 14.11 , 18.89 , 22.78 , 20.886, 26.115,
       22.638, 26.262, 23.03 , 27.075, 26.905, 13.195, 14.93 , 13.735,
       14.24 , 14.835, 11.96 , 13.215, 13.22 , 14.105, 12.49 , 12.04 ,
       13.41 , 18.579, 16.32 , 18.362, 18.015, 22.047, 26.39 , 11.49 ,
       12.18 , 12.795, 12.365, 18.35 , 22.025, 21.435, 22.86 , 22.09 ,
       20.175, 21.369, 26.01 , 14.635, 15.225, 29.331, 25.   , 22.042,
       19.414, 15.272, 23.208, 19.981, 12.825, 20.304, 20.578, 19.187,
       16.385, 31.105, 25.243, 31.655, 24.881, 16.27 , 16.135, 17.737,
       15.27 , 13.31 , 14.09 , 13.88 , 14.26 , 27.905, 27.7  , 26.179,
       31.575, 31.76 , 27.065, 25.89 , 25.624, 23.973, 25.485, 30.23 ,
       19.338, 17.667, 15.65 , 16.16 , 15.22 , 14.815, 15.364, 14.265,
       16.88 , 16.075, 15.583, 17.509, 20.503, 19.63 , 15.05 , 28.39 ,
       23.777, 19.788, 22.838, 23.995, 25.89 , 23.931, 19.388, 28.795,
       18.951, 23.401, 22.309, 21.789, 24.005, 32.571, 26.368, 25.298,
       24.986, 25.92 , 27.325, 16.485, 15.504, 16.157, 14.82 , 21.465,
       20.791, 22.69 , 21.313, 29.164, 25.906, 28.89 , 32.531, 19.499,
       18.027, 18.282, 18.212, 29.321, 31.98 , 27.985, 25.882, 20.242,
       13.564, 19.991, 19.443, 17.142, 15.29 , 13.895, 14.12 , 13.805,
       31.382, 29.514, 33.725, 25.387, 32.934, 16.488, 17.004, 15.565,
       15.404, 17.812, 20.265, 19.13 , 18.154, 15.815, 15.61 , 15.713,
       15.743, 29.87 , 24.654, 26.076, 25.003, 30.674, 31.565, 30.796,
       29.886, 21.651, 22.816, 21.802, 39.489, 35.154, 34.559, 36.64 ,
       35.044, 19.722, 18.968, 19.628, 19.064, 20.236, 20.55 , 25.218,
       20.191, 19.704, 20.543, 20.778, 18.747, 18.851, 18.86 , 18.107,
       18.702, 17.086, 30.352, 25.945, 26.595, 29.598, 22.689, 23.387,
       23.258, 24.251, 21.271, 17.972, 22.149, 17.241, 32.037, 30.536,
       21.311, 20.91 , 23.666, 20.397, 20.602, 17.413, 17.992, 17.515,
       17.901, 16.633, 16.172, 19.538, 17.943, 33.85 , 34.624, 35.375,
       28.27 , 24.741, 21.309, 27.908, 22.235, 34.568, 34.247, 33.605,
       36.438, 28.004, 27.234, 26.008, 31.478, 38.586, 37.823, 32.964,
       36.601, 27.969, 25.761, 25.038, 20.489, 34.699, 29.948, 31.466,
       34.812, 32.9  , 43.779, 26.997, 41.099, 42.948, 40.518, 33.585,
       30.582, 41.274, 38.739, 35.668, 33.146, 28.711, 27.382, 33.64 ,
       24.212, 32.684, 28.595, 27.045, 26.27 , 24.453, 31.46 , 38.018,
       38.4  , 36.411, 33.59 , 36.624, 37.105, 33.916, 35.074, 35.104,
       32.038, 33.492, 33.765, 33.919, 32.693, 31.556, 31.286, 28.189,
       29.268, 25.689, 25.08 , 21.917, 23.989, 21.698, 21.347, 28.395,
       27.888, 33.231, 29.914, 29.397, 27.063, 25.045, 24.187, 35.352,
       36.405, 32.675, 37.466, 35.421, 36.091, 35.43 , 33.73 , 36.301,
       33.372, 36.158, 24.975, 29.964, 26.682, 23.297, 30.876, 34.311,
       26.164, 27.133, 42.267, 32.355, 28.438, 29.873])

In [20]:
import joblib

In [21]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

In [22]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [23]:
modelReload.predict(data[X])

array([17.418, 14.875, 17.17 , 16.341, 16.976, 14.64 , 13.97 , 14.13 ,
       13.45 , 14.795, 14.925, 14.52 , 15.025, 14.621, 23.944, 21.543,
       19.51 , 20.997, 26.93 , 27.045, 24.52 , 24.48 , 24.705, 25.052,
       20.83 , 10.65 , 11.08 , 11.55 ,  9.91 , 26.97 , 26.346, 24.96 ,
       25.46 , 19.374, 16.896, 17.68 , 18.73 , 18.14 , 13.9  , 13.59 ,
       14.035, 14.315, 12.13 , 12.97 , 12.67 , 18.561, 22.12 , 18.76 ,
       18.395, 23.77 , 26.82 , 29.625, 29.1  , 31.48 , 33.49 , 27.575,
       27.1  , 24.526, 25.36 , 23.485, 20.55 , 22.38 , 13.275, 13.605,
       14.53 , 13.985, 16.37 , 11.925, 12.82 , 12.35 , 13.01 , 20.402,
       14.98 , 13.535, 13.545, 14.11 , 18.89 , 22.78 , 20.886, 26.115,
       22.638, 26.262, 23.03 , 27.075, 26.905, 13.195, 14.93 , 13.735,
       14.24 , 14.835, 11.96 , 13.215, 13.22 , 14.105, 12.49 , 12.04 ,
       13.41 , 18.579, 16.32 , 18.362, 18.015, 22.047, 26.39 , 11.49 ,
       12.18 , 12.795, 12.365, 18.35 , 22.025, 21.435, 22.86 , 22.09 ,
       20.175, 21.369, 26.01 , 14.635, 15.225, 29.331, 25.   , 22.042,
       19.414, 15.272, 23.208, 19.981, 12.825, 20.304, 20.578, 19.187,
       16.385, 31.105, 25.243, 31.655, 24.881, 16.27 , 16.135, 17.737,
       15.27 , 13.31 , 14.09 , 13.88 , 14.26 , 27.905, 27.7  , 26.179,
       31.575, 31.76 , 27.065, 25.89 , 25.624, 23.973, 25.485, 30.23 ,
       19.338, 17.667, 15.65 , 16.16 , 15.22 , 14.815, 15.364, 14.265,
       16.88 , 16.075, 15.583, 17.509, 20.503, 19.63 , 15.05 , 28.39 ,
       23.777, 19.788, 22.838, 23.995, 25.89 , 23.931, 19.388, 28.795,
       18.951, 23.401, 22.309, 21.789, 24.005, 32.571, 26.368, 25.298,
       24.986, 25.92 , 27.325, 16.485, 15.504, 16.157, 14.82 , 21.465,
       20.791, 22.69 , 21.313, 29.164, 25.906, 28.89 , 32.531, 19.499,
       18.027, 18.282, 18.212, 29.321, 31.98 , 27.985, 25.882, 20.242,
       13.564, 19.991, 19.443, 17.142, 15.29 , 13.895, 14.12 , 13.805,
       31.382, 29.514, 33.725, 25.387, 32.934, 16.488, 17.004, 15.565,
       15.404, 17.812, 20.265, 19.13 , 18.154, 15.815, 15.61 , 15.713,
       15.743, 29.87 , 24.654, 26.076, 25.003, 30.674, 31.565, 30.796,
       29.886, 21.651, 22.816, 21.802, 39.489, 35.154, 34.559, 36.64 ,
       35.044, 19.722, 18.968, 19.628, 19.064, 20.236, 20.55 , 25.218,
       20.191, 19.704, 20.543, 20.778, 18.747, 18.851, 18.86 , 18.107,
       18.702, 17.086, 30.352, 25.945, 26.595, 29.598, 22.689, 23.387,
       23.258, 24.251, 21.271, 17.972, 22.149, 17.241, 32.037, 30.536,
       21.311, 20.91 , 23.666, 20.397, 20.602, 17.413, 17.992, 17.515,
       17.901, 16.633, 16.172, 19.538, 17.943, 33.85 , 34.624, 35.375,
       28.27 , 24.741, 21.309, 27.908, 22.235, 34.568, 34.247, 33.605,
       36.438, 28.004, 27.234, 26.008, 31.478, 38.586, 37.823, 32.964,
       36.601, 27.969, 25.761, 25.038, 20.489, 34.699, 29.948, 31.466,
       34.812, 32.9  , 43.779, 26.997, 41.099, 42.948, 40.518, 33.585,
       30.582, 41.274, 38.739, 35.668, 33.146, 28.711, 27.382, 33.64 ,
       24.212, 32.684, 28.595, 27.045, 26.27 , 24.453, 31.46 , 38.018,
       38.4  , 36.411, 33.59 , 36.624, 37.105, 33.916, 35.074, 35.104,
       32.038, 33.492, 33.765, 33.919, 32.693, 31.556, 31.286, 28.189,
       29.268, 25.689, 25.08 , 21.917, 23.989, 21.698, 21.347, 28.395,
       27.888, 33.231, 29.914, 29.397, 27.063, 25.045, 24.187, 35.352,
       36.405, 32.675, 37.466, 35.421, 36.091, 35.43 , 33.73 , 36.301,
       33.372, 36.158, 24.975, 29.964, 26.682, 23.297, 30.876, 34.311,
       26.164, 27.133, 42.267, 32.355, 28.438, 29.873])

In [24]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model year']=6
temp['origin']=1

In [28]:
testDtaa=pd.DataFrame({'x':temp}).transpose()

In [29]:
testDtaa

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,5,1,2,3,6,1,4

In [32]:
modelReload.predict(testDtaa)[0]

29.447